
.footer-container {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px 10px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-container h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container > * {
  flex: 1 1 50%;
  margin-bottom: 10px;
}

.profilePicture {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 5px;
}

.social-icons a {
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #666;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-form input[type="email"] {
  padding: 8px;
  border: 2px solid #999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  width: 60%;
  margin-right: -2px;
}

.newsletter-form button {
  background-color: #111;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #333;
}

.error-message {
  color: #ff0000;
}

.success-message {
  color: #00ff00;
}
