
body {
    margin: 0;
    padding: 0;
    animation: changeBackground 10s ease infinite;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, #8DB580, #6B9B6A, #4F8C54, #347A3E, #1A6B28);
  }
  
  @keyframes changeBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }