.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; /* Grey background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
  }
  
  /* Style for the left section containing social media icons */
  .topLeft {
    overflow-y: scroll; /* Develop a scrollbar */
    height: 100vh; /* Set height to full viewport height */
  }
  
  /* Style for social media icons */
  .topIcon {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  /* Style for the center section containing navigation links */
  .topCenter {
    flex: 1;
  }
  
  /* Style for navigation links */
  .topList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .topListItem {
    display: inline-block;
    margin-right: 20px;
  }
  
  .link {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .link:hover {
    text-decoration: underline;
    color: aqua;
  }